<div class="jumbotron center">
	<h1>SweaterJeans</h1>

	<% if user_signed_in? %>
	# do something

	<% else %>
		<p>Where you can find something as specific as jeans made out of sweaters.</p>
		<br>
		<p>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default" %> to see how far the rabbit hole goes.
		</p>
	<% end %>
	
</div>