<div class="jumbotron center">
	<h1>SweaterJeans</h1>
	<p>Where you can find something as specific as jeans made out of sweaters.</p>
	<br>
	<br>
	<p><button type="button" class="btn btn-default">Sign In</button> to see how far the rabbit hole goes.</p>
	

</div>